.container {
    display: flex;
  }
  
  .sidebar { /* 전체 사이드 바*/
    width: 20vw;
    background-color: #FFFFFF;
  }
  
  .header {
    flex: 1;
    background-color: #FFFFFF;
  }
  
  .main-content {
    flex: 3;
    background-color: white;
  }
  