.TabMenu {
    background-color: #dcdcdc;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.TabMenu .submenu {
    width: 100% auto;
    padding: 15px 10px;
    cursor: pointer;
}

.TabMenu .focused {
    background-color: darkblue;
    color: white;
}

.Desc {
    padding-top: 180px;
    min-height: 100vh;
    display: flex;
}